body {
    background: url("../images/bg-2.png");
}

/*------ padding -------*/
.m-padded-mini {
    padding: 0.2em !important;
}
.m-padded-tiny {
    padding: 0.3em !important;
}
.m-padded-small {
    padding: 0.5em !important;
}
.m-padded {
    padding: 1em !important;
}
.m-padded-tb-mini {
    /*  1em 为14个像素  */
    /*  ui自带的样式级别很高，需要提高自定义样式的级别  */
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.m-padded-lr-response-huge {
    padding-left: 4em !important;
    padding-right: 4em !important;
}

/*------ margin -------*/
.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-tb-small {
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}
.m-margin-top-small {
    margin-top: 0.5em !important;
}
.m-margin-top {
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 2em !important;
}
.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}
.m-margin-lr {
    margin-left: 1em !important;
    margin-right: 1em !important;
}
.m-margin {
    margin: 1em !important;
}

/*------ text -------*/
.m-text {
    font-weight: 300 !important;
    font-spacing: 1px !important;
    line-height: 1.8;
}
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-spaced {
    font-spacing: 1px !important;
}
.m-text-lined {
    line-height: 1.8;
}

/*------ opacity -------*/
.m-opacity-mini {
    opacity: 0.8 !important;
}
.m-opacity-tiny {
    opacity: 0.6 !important;
}

/*------ display -------*/
.m-inline-block {
    display: inline-block !important;
}
.m-mobile-show {
    display: none !important;
}

/*------ container -------*/
.m-container-small {
    max-width: 60em !important;
    margin: auto !important;
}
.m-container {
    max-width: 72em !important;
    margin: auto !important;
}

/*------ color -------*/
.m-black {
    color: #333 !important;
}

/*------ position -------*/
.m-top-right {
    position: absolute;
    top: 0;
    right: 0;
}
.m-fixed {
    position: fixed !important;
    z-index: 1 !important;
}
.m-bottom-right {
    bottom: 0px !important;
    right: 0 !important;
}

/*------ mobile -------*/
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important; /* 适配chrome等浏览器特有属性 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

/*------ mobile -------*/
@media screen and (max-width: 768px) {
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-lr-response-huge {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
}
